%svg {
	background-repeat: no-repeat;
	background-image: url(icons/icons.svg);
}
/*FOR FALLBACK: Can we get rid of this somehow?*/
.no-svg 
	%svg {
	background-repeat: no-repeat;;
	background-image: url(icons/icons.png);
}


.svg-arrow_left,
.svg-arrow_left\:regular { 
	background-position: 0 0;
	@extend %svg;
		width: 29px;
		height: 42px;
}



.svg-arrow_left:hover,
.svg-arrow_left\:hover { 
	background-position: 0 -42px;
	@extend %svg;
		width: 29px;
		height: 42px;
}



.svg-arrow_right,
.svg-arrow_right\:regular { 
	background-position: 0 -84px;
	@extend %svg;
		width: 29px;
		height: 42px;
}



.svg-arrow_right:hover,
.svg-arrow_right\:hover { 
	background-position: 0 -126px;
	@extend %svg;
		width: 29px;
		height: 42px;
}



.svg-closex,
.svg-closex\:regular { 
	background-position: 0 -168px;
	@extend %svg;
		width: 12px;
		height: 12px;
}



.svg-closex:hover,
.svg-closex\:hover { 
	background-position: 0 -180px;
	@extend %svg;
		width: 12px;
		height: 12px;
}



.svg-edit { 
	background-position: 0 -192px;
	@extend %svg;
		width: 17px;
		height: 17px;
}



.svg-emot-blush { 
	background-position: 0 -209px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-cry { 
	background-position: 0 -236px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-frown { 
	background-position: 0 -263px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-glasses { 
	background-position: 0 -290px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-happy { 
	background-position: 0 -317px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-laugh { 
	background-position: 0 -344px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-love { 
	background-position: 0 -371px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-emot-wink { 
	background-position: 0 -398px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-eye { 
	background-position: 0 -425px;
	@extend %svg;
		width: 14.324px;
		height: 10.088px;
}



.svg-eye-closed { 
	background-position: 0 -436px;
	@extend %svg;
		width: 14.805px;
		height: 11.799px;
}



.svg-info-favs { 
	background-position: 0 -448px;
	@extend %svg;
		width: 26.217px;
		height: 23.928px;
}



.svg-info-home { 
	background-position: 0 -472px;
	@extend %svg;
		width: 21px;
		height: 19px;
}



.svg-info-numbercomments { 
	background-position: 0 -491px;
	@extend %svg;
		width: 29.06px;
		height: 23.765px;
}



.svg-info-photo { 
	background-position: 0 -515px;
	@extend %svg;
		width: 32px;
		height: 23px;
}



.svg-info-readyintime { 
	background-position: 0 -538px;
	@extend %svg;
		width: 24.152px;
		height: 22.769px;
}



.svg-info-search,
.svg-info-search\:regular { 
	background-position: 0 -561px;
	@extend %svg;
		width: 23px;
		height: 23px;
}



.svg-info-search:hover,
.svg-info-search\:hover { 
	background-position: 0 -584px;
	@extend %svg;
		width: 23px;
		height: 23px;
}



.svg-info-thumbsup,
.svg-info-thumbsup\:regular { 
	background-position: 0 -607px;
	@extend %svg;
		width: 18px;
		height: 19px;
}



.svg-info-thumbsup:disabled,
.svg-info-thumbsup\:disabled { 
	background-position: 0 -626px;
	@extend %svg;
		width: 18px;
		height: 19px;
}



.svg-info-thumbsup:hover,
.svg-info-thumbsup\:hover { 
	background-position: 0 -645px;
	@extend %svg;
		width: 18px;
		height: 19px;
}



.svg-info-video { 
	background-position: 0 -664px;
	@extend %svg;
		width: 17px;
		height: 12px;
}



.svg-notif-checkbox { 
	background-position: 0 -676px;
	@extend %svg;
		width: 25px;
		height: 22px;
}



.svg-notif-warning { 
	background-position: 0 -698px;
	@extend %svg;
		width: 20px;
		height: 20px;
}



.svg-play,
.svg-play\:regular { 
	background-position: 0 -718px;
	@extend %svg;
		width: 47px;
		height: 47px;
}



.svg-play:hover,
.svg-play\:hover { 
	background-position: 0 -765px;
	@extend %svg;
		width: 47px;
		height: 47px;
}



.svg-social-facebook { 
	background-position: 0 -812px;
	@extend %svg;
		width: 10.117px;
		height: 19.391px;
}



.svg-social-twitter { 
	background-position: 0 -832px;
	@extend %svg;
		width: 15px;
		height: 19.063px;
}



.svg-social-vkonte { 
	background-position: 0 -852px;
	@extend %svg;
		width: 15.492px;
		height: 18.869px;
}



.svg-social-youtube { 
	background-position: 0 -871px;
	@extend %svg;
		width: 12.922px;
		height: 9.405999999999999px;
}



.svg-stars { 
	background-position: 0 -881px;
	@extend %svg;
		width: 151.2px;
		height: 29.6px;
}



.svg-tool-addReview { 
	background-position: 0 -911px;
	@extend %svg;
		width: 32px;
		height: 25px;
}



.svg-tool-addthis { 
	background-position: 0 -936px;
	@extend %svg;
		width: 27px;
		height: 27px;
}



.svg-tool-email { 
	background-position: 0 -963px;
	@extend %svg;
		width: 33px;
		height: 22px;
}



.svg-tool-facebook { 
	background-position: 0 -985px;
	@extend %svg;
		width: 13px;
		height: 25px;
}



.svg-tool-favorite { 
	background-position: 0 -1010px;
	@extend %svg;
		width: 30px;
		height: 26px;
}



.svg-tool-googleplus { 
	background-position: 0 -1036px;
	@extend %svg;
		width: 31px;
		height: 26px;
}



.svg-tool-photoicon { 
	background-position: 0 -1062px;
	@extend %svg;
		width: 32px;
		height: 23px;
}



.svg-tool-pinterest { 
	background-position: 0 -1085px;
	@extend %svg;
		width: 20px;
		height: 25px;
}



.svg-tool-print { 
	background-position: 0 -1110px;
	@extend %svg;
		width: 32px;
		height: 28px;
}



.svg-tool-seibo { 
	background-position: 0 -1138px;
	@extend %svg;
		width: 28.578px;
		height: 23.523px;
}



.svg-tool-twitter { 
	background-position: 0 -1162px;
	@extend %svg;
		width: 28px;
		height: 23px;
}



.svg-tool-unknown { 
	background-position: 0 -1185px;
	@extend %svg;
		width: 17px;
		height: 24px;
}



.svg-tool-vkonte { 
	background-position: 0 -1209px;
	@extend %svg;
		width: 19px;
		height: 21px;
}



