.svg-arrow_left, .svg-arrow_left\:regular, .svg-arrow_left:hover, .svg-arrow_left\:hover, .svg-arrow_right, .svg-arrow_right\:regular, .svg-arrow_right:hover, .svg-arrow_right\:hover, .svg-closex, .svg-closex\:regular, .svg-closex:hover, .svg-closex\:hover, .svg-edit, .svg-emot-blush, .svg-emot-cry, .svg-emot-frown, .svg-emot-glasses, .svg-emot-happy, .svg-emot-laugh, .svg-emot-love, .svg-emot-wink, .svg-eye, .svg-eye-closed, .svg-info-favs, .svg-info-home, .svg-info-numbercomments, .svg-info-photo, .svg-info-readyintime, .svg-info-search, .svg-info-search\:regular, .svg-info-search:hover, .svg-info-search\:hover, .svg-info-thumbsup, .svg-info-thumbsup\:regular, .svg-info-thumbsup:disabled, .svg-info-thumbsup\:disabled, .svg-info-thumbsup:hover, .svg-info-thumbsup\:hover, .svg-info-video, .svg-notif-checkbox, .svg-notif-warning, .svg-play, .svg-play\:regular, .svg-play:hover, .svg-play\:hover, .svg-social-facebook, .svg-social-twitter, .svg-social-vkonte, .svg-social-youtube, .svg-tool-addReview, .svg-tool-addthis, .svg-tool-email, .svg-tool-facebook, .svg-tool-favorite, .svg-tool-googleplus, .svg-tool-photoicon, .svg-tool-pinterest, .svg-tool-print, .svg-tool-seibo, .svg-tool-twitter, .svg-tool-unknown, .svg-tool-vkonte {
  background-repeat: no-repeat;
  background-image: url(icons/icons.svg); }

/*FOR FALLBACK: Can we get rid of this somehow?*/
.no-svg .svg-arrow_left, .no-svg .svg-arrow_left\:regular, .no-svg .svg-arrow_left:hover, .no-svg .svg-arrow_left\:hover, .no-svg .svg-arrow_right, .no-svg .svg-arrow_right\:regular, .no-svg .svg-arrow_right:hover, .no-svg .svg-arrow_right\:hover, .no-svg .svg-closex, .no-svg .svg-closex\:regular, .no-svg .svg-closex:hover, .no-svg .svg-closex\:hover, .no-svg .svg-edit, .no-svg .svg-emot-blush, .no-svg .svg-emot-cry, .no-svg .svg-emot-frown, .no-svg .svg-emot-glasses, .no-svg .svg-emot-happy, .no-svg .svg-emot-laugh, .no-svg .svg-emot-love, .no-svg .svg-emot-wink, .no-svg .svg-eye, .no-svg .svg-eye-closed, .no-svg .svg-info-favs, .no-svg .svg-info-home, .no-svg .svg-info-numbercomments, .no-svg .svg-info-photo, .no-svg .svg-info-readyintime, .no-svg .svg-info-search, .no-svg .svg-info-search\:regular, .no-svg .svg-info-search:hover, .no-svg .svg-info-search\:hover, .no-svg .svg-info-thumbsup, .no-svg .svg-info-thumbsup\:regular, .no-svg .svg-info-thumbsup:disabled, .no-svg .svg-info-thumbsup\:disabled, .no-svg .svg-info-thumbsup:hover, .no-svg .svg-info-thumbsup\:hover, .no-svg .svg-info-video, .no-svg .svg-notif-checkbox, .no-svg .svg-notif-warning, .no-svg .svg-play, .no-svg .svg-play\:regular, .no-svg .svg-play:hover, .no-svg .svg-play\:hover, .no-svg .svg-social-facebook, .no-svg .svg-social-twitter, .no-svg .svg-social-vkonte, .no-svg .svg-social-youtube, .no-svg .svg-tool-addReview, .no-svg .svg-tool-addthis, .no-svg .svg-tool-email, .no-svg .svg-tool-facebook, .no-svg .svg-tool-favorite, .no-svg .svg-tool-googleplus, .no-svg .svg-tool-photoicon, .no-svg .svg-tool-pinterest, .no-svg .svg-tool-print, .no-svg .svg-tool-seibo, .no-svg .svg-tool-twitter, .no-svg .svg-tool-unknown, .no-svg .svg-tool-vkonte {
  background-repeat: no-repeat;
  background-image: url(icons/icons.png); }

.svg-arrow_left, .svg-arrow_left\:regular {
  background-position: 0 0;
  width: 29px;
  height: 42px; }

.svg-arrow_left:hover, .svg-arrow_left\:hover {
  background-position: 0 -42px;
  width: 29px;
  height: 42px; }

.svg-arrow_right, .svg-arrow_right\:regular {
  background-position: 0 -84px;
  width: 29px;
  height: 42px; }

.svg-arrow_right:hover, .svg-arrow_right\:hover {
  background-position: 0 -126px;
  width: 29px;
  height: 42px; }

.svg-closex, .svg-closex\:regular {
  background-position: 0 -168px;
  width: 12px;
  height: 12px; }

.svg-closex:hover, .svg-closex\:hover {
  background-position: 0 -180px;
  width: 12px;
  height: 12px; }

.svg-edit {
  background-position: 0 -192px;
  width: 17px;
  height: 17px; }

.svg-emot-blush {
  background-position: 0 -209px;
  width: 27px;
  height: 27px; }

.svg-emot-cry {
  background-position: 0 -236px;
  width: 27px;
  height: 27px; }

.svg-emot-frown {
  background-position: 0 -263px;
  width: 27px;
  height: 27px; }

.svg-emot-glasses {
  background-position: 0 -290px;
  width: 27px;
  height: 27px; }

.svg-emot-happy {
  background-position: 0 -317px;
  width: 27px;
  height: 27px; }

.svg-emot-laugh {
  background-position: 0 -344px;
  width: 27px;
  height: 27px; }

.svg-emot-love {
  background-position: 0 -371px;
  width: 27px;
  height: 27px; }

.svg-emot-wink {
  background-position: 0 -398px;
  width: 27px;
  height: 27px; }

.svg-eye {
  background-position: 0 -425px;
  width: 14.324px;
  height: 10.088px; }

.svg-eye-closed {
  background-position: 0 -436px;
  width: 14.805px;
  height: 11.799px; }

.svg-info-favs {
  background-position: 0 -448px;
  width: 26.217px;
  height: 23.928px; }

.svg-info-home {
  background-position: 0 -472px;
  width: 21px;
  height: 19px; }

.svg-info-numbercomments {
  background-position: 0 -491px;
  width: 29.06px;
  height: 23.765px; }

.svg-info-photo {
  background-position: 0 -515px;
  width: 32px;
  height: 23px; }

.svg-info-readyintime {
  background-position: 0 -538px;
  width: 24.152px;
  height: 22.769px; }

.svg-info-search, .svg-info-search\:regular {
  background-position: 0 -561px;
  width: 23px;
  height: 23px; }

.svg-info-search:hover, .svg-info-search\:hover {
  background-position: 0 -584px;
  width: 23px;
  height: 23px; }

.svg-info-thumbsup, .svg-info-thumbsup\:regular {
  background-position: 0 -607px;
  width: 18px;
  height: 19px; }

.svg-info-thumbsup:disabled, .svg-info-thumbsup\:disabled {
  background-position: 0 -626px;
  width: 18px;
  height: 19px; }

.svg-info-thumbsup:hover, .svg-info-thumbsup\:hover {
  background-position: 0 -645px;
  width: 18px;
  height: 19px; }

.svg-info-video {
  background-position: 0 -664px;
  width: 17px;
  height: 12px; }

.svg-notif-checkbox {
  background-position: 0 -676px;
  width: 25px;
  height: 22px; }

.svg-notif-warning {
  background-position: 0 -698px;
  width: 20px;
  height: 20px; }

.svg-play, .svg-play\:regular {
  background-position: 0 -718px;
  width: 47px;
  height: 47px; }

.svg-play:hover, .svg-play\:hover {
  background-position: 0 -765px;
  width: 47px;
  height: 47px; }

.svg-social-facebook {
  background-position: 0 -812px;
  width: 10.117px;
  height: 19.391px; }

.svg-social-twitter {
  background-position: 0 -832px;
  width: 15px;
  height: 19.063px; }

.svg-social-vkonte {
  background-position: 0 -852px;
  width: 15.492px;
  height: 18.869px; }

.svg-social-youtube {
  background-position: 0 -871px;
  width: 12.922px;
  height: 9.406px; }

.svg-tool-addReview {
  background-position: 0 -881px;
  width: 32px;
  height: 25px; }

.svg-tool-addthis {
  background-position: 0 -906px;
  width: 27px;
  height: 27px; }

.svg-tool-email {
  background-position: 0 -933px;
  width: 33px;
  height: 22px; }

.svg-tool-facebook {
  background-position: 0 -955px;
  width: 13px;
  height: 25px; }

.svg-tool-favorite {
  background-position: 0 -980px;
  width: 30px;
  height: 26px; }

.svg-tool-googleplus {
  background-position: 0 -1006px;
  width: 31px;
  height: 26px; }

.svg-tool-photoicon {
  background-position: 0 -1032px;
  width: 32px;
  height: 23px; }

.svg-tool-pinterest {
  background-position: 0 -1055px;
  width: 20px;
  height: 25px; }

.svg-tool-print {
  background-position: 0 -1080px;
  width: 32px;
  height: 28px; }

.svg-tool-seibo {
  background-position: 0 -1108px;
  width: 28.578px;
  height: 23.523px; }

.svg-tool-twitter {
  background-position: 0 -1132px;
  width: 28px;
  height: 23px; }

.svg-tool-unknown {
  background-position: 0 -1155px;
  width: 17px;
  height: 24px; }

.svg-tool-vkonte {
  background-position: 0 -1179px;
  width: 19px;
  height: 21px; }
